workflows/chatbot.json
{
  "id": "igt1-chat-bot-workflow",
  "name": "IGT1 Chat Bot",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "When chat message received",
      "webhookId": "21a12185-aa76-48f3-81a4-cd8853a8f232"
    },
    {
      "parameters": {
        "promptType": "auto",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an expert customer support assistant for IGT1, a company that provides services to overseas clients. Your goal is to help users resolve their inquiries efficiently, politely, and clearly. Guidelines:\n- Be professional, friendly, and concise.\n- Ask clarifying questions when the user's request is unclear.\n- If you do not know an answer, say so honestly and offer to help in another way.\n- Remember details the user shared earlier in the same conversation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        120,
        220
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "google-gemini-api-key",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "fromInput",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        220
      ],
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "igt1-chat-bot-v1",
  "tags": []
}
